<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Forms" version="2.3.4.224" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms.DataGrid" version="1.8.7" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
</packages>